.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
MemoryGame.xcodeproj/xcuserdata/*
MemoryGame.xcodeproj/project.xcworkspace/xcuserdata/*

MemoryGame.xcodeproj/project.xcworkspace/xcuserdata/herpderp.xcuserdatad/UserInterfaceState.xcuserstate

MemoryGame.xcodeproj/project.xcworkspace/xcuserdata/herpderp.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

MemoryGame.xcodeproj/project.xcworkspace/xcuserdata/herpderp.xcuserdatad/UserInterfaceState.xcuserstate

MemoryGame/.DS_Store

MemoryGameTests/.DS_Store
