<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Score0</key>
	<array>
		<string>Raf</string>
		<string>8</string>
	</array>
	<key>Score1</key>
	<array>
		<string>Lizon</string>
		<string>9</string>
	</array>
	<key>Score2</key>
	<array>
		<string>Akanksha</string>
		<string>13</string>
	</array>
	<key>Score3</key>
	<array>
		<string>Jordan</string>
		<string>15</string>
	</array>
	<key>Score4</key>
	<array>
		<string>Ben</string>
		<string>20</string>
	</array>
</dict>
</plist>
